
.stars-container {
    display: flex;
    gap: 5px;
    cursor: pointer;
    padding: 20px 10px 10px 0;
}

.star {
    font-size: 24px;
    color: lightgray;
    transition: color 0.2s;
}

.star.filled {
    color: gold;
}
