button {
    /* Сброс стилей */
    all: unset;

    /* Дополнительные стили по вашему выбору */
    /* Например, добавить курсор указателя */
    cursor: pointer;
}
.stars-container{
    padding: 20px 10px 10px 0;
}
